web/WEB-INF/wsdl/localhost_8084/BusinessLogicTier/BusinessServices.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://BusinessServices/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://BusinessServices/" name="BusinessServices">
<types>
<xsd:schema>
<xsd:import namespace="http://BusinessServices/" schemaLocation="http://localhost:8084/BusinessLogicTier/BusinessServices?xsd=1" />
</xsd:schema>
</types>
<message name="authenticate">
<part name="parameters" element="tns:authenticate" />
</message>
<message name="authenticateResponse">
<part name="parameters" element="tns:authenticateResponse" />
</message>
<message name="checkDocUsername">
<part name="parameters" element="tns:checkDocUsername" />
</message>
<message name="checkDocUsernameResponse">
<part name="parameters" element="tns:checkDocUsernameResponse" />
</message>
<message name="addAppointment">
<part name="parameters" element="tns:addAppointment" />
</message>
<message name="addAppointmentResponse">
<part name="parameters" element="tns:addAppointmentResponse" />
</message>
<message name="deleteDoctor">
<part name="parameters" element="tns:deleteDoctor" />
</message>
<message name="deleteDoctorResponse">
<part name="parameters" element="tns:deleteDoctorResponse" />
</message>
<message name="updatetheDoctor">
<part name="parameters" element="tns:updatetheDoctor" />
</message>
<message name="updatetheDoctorResponse">
<part name="parameters" element="tns:updatetheDoctorResponse" />
</message>
<message name="checkUsername">
<part name="parameters" element="tns:checkUsername" />
</message>
<message name="checkUsernameResponse">
<part name="parameters" element="tns:checkUsernameResponse" />
</message>
<message name="checkEmail">
<part name="parameters" element="tns:checkEmail" />
</message>
<message name="checkEmailResponse">
<part name="parameters" element="tns:checkEmailResponse" />
</message>
<message name="searchCustomer">
<part name="parameters" element="tns:searchCustomer" />
</message>
<message name="searchCustomerResponse">
<part name="parameters" element="tns:searchCustomerResponse" />
</message>
<message name="checkDocEmail">
<part name="parameters" element="tns:checkDocEmail" />
</message>
<message name="checkDocEmailResponse">
<part name="parameters" element="tns:checkDocEmailResponse" />
</message>
<message name="addDocToLogin">
<part name="parameters" element="tns:addDocToLogin" />
</message>
<message name="addDocToLoginResponse">
<part name="parameters" element="tns:addDocToLoginResponse" />
</message>
<message name="deleteAppointment">
<part name="parameters" element="tns:deleteAppointment" />
</message>
<message name="deleteAppointmentResponse">
<part name="parameters" element="tns:deleteAppointmentResponse" />
</message>
<message name="updatetheAppointment">
<part name="parameters" element="tns:updatetheAppointment" />
</message>
<message name="updatetheAppointmentResponse">
<part name="parameters" element="tns:updatetheAppointmentResponse" />
</message>
<message name="deletetheCustomer">
<part name="parameters" element="tns:deletetheCustomer" />
</message>
<message name="deletetheCustomerResponse">
<part name="parameters" element="tns:deletetheCustomerResponse" />
</message>
<message name="addCustomerToLogin">
<part name="parameters" element="tns:addCustomerToLogin" />
</message>
<message name="addCustomerToLoginResponse">
<part name="parameters" element="tns:addCustomerToLoginResponse" />
</message>
<message name="updatetheCustomer">
<part name="parameters" element="tns:updatetheCustomer" />
</message>
<message name="updatetheCustomerResponse">
<part name="parameters" element="tns:updatetheCustomerResponse" />
</message>
<portType name="BusinessServices">
<operation name="authenticate">
<input wsam:Action="http://BusinessServices/BusinessServices/authenticateRequest" message="tns:authenticate" />
<output wsam:Action="http://BusinessServices/BusinessServices/authenticateResponse" message="tns:authenticateResponse" />
</operation>
<operation name="checkDocUsername">
<input wsam:Action="http://BusinessServices/BusinessServices/checkDocUsernameRequest" message="tns:checkDocUsername" />
<output wsam:Action="http://BusinessServices/BusinessServices/checkDocUsernameResponse" message="tns:checkDocUsernameResponse" />
</operation>
<operation name="addAppointment">
<input wsam:Action="http://BusinessServices/BusinessServices/addAppointmentRequest" message="tns:addAppointment" />
<output wsam:Action="http://BusinessServices/BusinessServices/addAppointmentResponse" message="tns:addAppointmentResponse" />
</operation>
<operation name="deleteDoctor">
<input wsam:Action="http://BusinessServices/BusinessServices/deleteDoctorRequest" message="tns:deleteDoctor" />
<output wsam:Action="http://BusinessServices/BusinessServices/deleteDoctorResponse" message="tns:deleteDoctorResponse" />
</operation>
<operation name="updatetheDoctor">
<input wsam:Action="http://BusinessServices/BusinessServices/updatetheDoctorRequest" message="tns:updatetheDoctor" />
<output wsam:Action="http://BusinessServices/BusinessServices/updatetheDoctorResponse" message="tns:updatetheDoctorResponse" />
</operation>
<operation name="checkUsername">
<input wsam:Action="http://BusinessServices/BusinessServices/checkUsernameRequest" message="tns:checkUsername" />
<output wsam:Action="http://BusinessServices/BusinessServices/checkUsernameResponse" message="tns:checkUsernameResponse" />
</operation>
<operation name="checkEmail">
<input wsam:Action="http://BusinessServices/BusinessServices/checkEmailRequest" message="tns:checkEmail" />
<output wsam:Action="http://BusinessServices/BusinessServices/checkEmailResponse" message="tns:checkEmailResponse" />
</operation>
<operation name="searchCustomer">
<input wsam:Action="http://BusinessServices/BusinessServices/searchCustomerRequest" message="tns:searchCustomer" />
<output wsam:Action="http://BusinessServices/BusinessServices/searchCustomerResponse" message="tns:searchCustomerResponse" />
</operation>
<operation name="checkDocEmail">
<input wsam:Action="http://BusinessServices/BusinessServices/checkDocEmailRequest" message="tns:checkDocEmail" />
<output wsam:Action="http://BusinessServices/BusinessServices/checkDocEmailResponse" message="tns:checkDocEmailResponse" />
</operation>
<operation name="addDocToLogin">
<input wsam:Action="http://BusinessServices/BusinessServices/addDocToLoginRequest" message="tns:addDocToLogin" />
<output wsam:Action="http://BusinessServices/BusinessServices/addDocToLoginResponse" message="tns:addDocToLoginResponse" />
</operation>
<operation name="deleteAppointment">
<input wsam:Action="http://BusinessServices/BusinessServices/deleteAppointmentRequest" message="tns:deleteAppointment" />
<output wsam:Action="http://BusinessServices/BusinessServices/deleteAppointmentResponse" message="tns:deleteAppointmentResponse" />
</operation>
<operation name="updatetheAppointment">
<input wsam:Action="http://BusinessServices/BusinessServices/updatetheAppointmentRequest" message="tns:updatetheAppointment" />
<output wsam:Action="http://BusinessServices/BusinessServices/updatetheAppointmentResponse" message="tns:updatetheAppointmentResponse" />
</operation>
<operation name="deletetheCustomer">
<input wsam:Action="http://BusinessServices/BusinessServices/deletetheCustomerRequest" message="tns:deletetheCustomer" />
<output wsam:Action="http://BusinessServices/BusinessServices/deletetheCustomerResponse" message="tns:deletetheCustomerResponse" />
</operation>
<operation name="addCustomerToLogin">
<input wsam:Action="http://BusinessServices/BusinessServices/addCustomerToLoginRequest" message="tns:addCustomerToLogin" />
<output wsam:Action="http://BusinessServices/BusinessServices/addCustomerToLoginResponse" message="tns:addCustomerToLoginResponse" />
</operation>
<operation name="updatetheCustomer">
<input wsam:Action="http://BusinessServices/BusinessServices/updatetheCustomerRequest" message="tns:updatetheCustomer" />
<output wsam:Action="http://BusinessServices/BusinessServices/updatetheCustomerResponse" message="tns:updatetheCustomerResponse" />
</operation>
</portType>
<binding name="BusinessServicesPortBinding" type="tns:BusinessServices">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="authenticate">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="checkDocUsername">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="addAppointment">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="deleteDoctor">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="updatetheDoctor">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="checkUsername">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="checkEmail">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="searchCustomer">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="checkDocEmail">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="addDocToLogin">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="deleteAppointment">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="updatetheAppointment">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="deletetheCustomer">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="addCustomerToLogin">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="updatetheCustomer">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="BusinessServices">
<port name="BusinessServicesPort" binding="tns:BusinessServicesPortBinding">
<soap:address location="http://localhost:8084/BusinessLogicTier/BusinessServices" />
</port>
</service>
</definitions>